:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  height: 100vh;
  width: 100%;
  margin: 0;

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  div#app {
    height: 100%;
    display: flex;
    flex-direction: column;

    nav {
      background-color: darkgray;
      color: white;
      height: fit-content;

      ul {
        display: flex;
        justify-content: space-evenly;

        li.menu-option {
          width: 200px;
          display: flex;
          flex-direction: column;
          justify-content: start;

          h3 {
            text-align: center;
            margin: 0;
            padding: 15px;
          }

          &:hover {
            cursor: pointer;
            color: red;
            transition: 1s;

            & > ul.project-list {
              display: flex;
              justify-content: center;
              padding-bottom: 15px;
            }
          }

          ul.project-list {
            display: none;
            flex-direction: column;

            li {
              text-align: center;

              a {
                color: ghostwhite;
              }
            }
          }
        }
      }
    }

    main {
      flex: 1;

      h2 {
        text-align: center;
      }

      div.slider {
        display: flex;
        justify-content: center;
        align-items: center;

        & > div.frame {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          justify-content: center;
          align-items: center;

          & > ul.slider-frame {
            position: relative;
            min-height: 300px;
            width: 1000px;

            li {
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
              height: 300px;
              width: 1000px;
              transition: opacity 2s ease-in-out;

              img {
                height: 300px;
                width: 1000px;
                object-fit: cover;
                object-position: center;
              }

              &.visible {
                opacity: 1;
                transition: opacity 2s ease-in-out;
              }
            }

          }

          & > ul.marker-frame {
            display: flex;
            gap: 1rem;

            li {
              height: 5px;
              width: 5px;
              background: transparent;
              border: 1px solid white;
              border-radius: 5px;
              cursor: pointer;

              &.chosen {
                background: white;
              }
            }
          }
        }

        & > button.back {
          margin-right: 4rem;
        }

        & > button.next {
          margin-left: 4rem;
        }
      }
    }
  }
}